@{
    ViewBag.Title = "About";
}

<div id="contact-page" class="container">

    <div class="bg">

        <div class="row">

            <div class="col-sm-12">

                <h2 class="title text-center">Historia <strong> Menajes Maipu</strong></h2>

                <div class="col-sm-6">

                    <div class="left-sidebar">

                        <h3>

                            <small>

                                <p align="justify">
                                    Menajes Maipú fue fundada en 1969, especializándose en la distribucion de utensilios de cocina. Inició su actividad en Talcahuano, donde empezó a vender articulos de hogar: vasos, ollar, platos, entre otros.
                                    Con estos productos la casa se dio a conocer como marca Menajes Maipú.
                                </p>

                                <p align="justify">
                                    Desde su constitución, ha tenido una evolución constante en todos los ámbitos que la configuran: tecnológicos, comerciales, logísticos y organizativos.
                                    En la actualidad es líder del sector de Menaje, centrando su desarrollo en los mercados nacionales. La necesidad de ofrecer el mejor servicio a todos nuestros clientes. Con una capacidad de 1.000 m3 destinados a almacenaje, que aseguran un servicio rápido y eficiente.
                                </p>

                                <p align="justify">
                                    Ofrecemos una amplia colección de productos de fácil uso, alta calidad e innovación. Nuestro portfolio de productos se compone de 10 referencias.
                                </p>

                            </small>

                        </h3>

                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="right-sidebar">
                        <img src="~/Content/Imagenes estaticas/Menajes Historia.png" class="img-rounded  img-responsive" />
                    </div>

                </div>

            </div>

        </div>

    </div>

</div><!--/#About-page-->