<div class="container text-center">

    <div class="content-404">
        <img src="~/Content/Imagenes estaticas/404.png" class="img-rounded  img-responsive" width="46%" height="46%" />
        <h1><b>OPPS!</b> No hemos podido encontrar la url solicitada</h1>
        <p>Ups...al parecer la acción que usted realizó ha sido removida o no existe.</p>
        <h2><a href=@Url.Action("Index","Home")>Volver a la Página Principal</a></h2>
    </div>
</div>