<div class="container text-center">

    <div class="content-404">
        <img src="~/Content/Imagenes estaticas/404.png" class="img-rounded  img-responsive" width="15%" height="15%" />
        <h1><b>ERROR:</b> Datos inválidos</h1>
        <p>Has escrito mal el codigo Captcha.</p>
        <h2><a href=@Url.Action("Contact","Home")>Vuelve a intentarlo</a></h2>
    </div>
</div>