@model Menajes_Maipu.Models.ModeloBD.Categoria

@{
    var user = Session["user"];
    var id = Session["id"];

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Ladmin.cshtml";
}


<!-- page content -->
    <div class="right_col" role="main">

        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>
                        Formulario Categorias
                    </h3>
                </div>


            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <a href="Index"><h2>Categoria</h2> </a>  <h2><small>Ingresar</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <h2><b>Información necesaria *</b></h2>
                            @using (Html.BeginForm("CategoriasCreate", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                            {
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                        Nombre <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                      @Html.EditorFor(model => model.Nombre_categoria, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Hogar", @pattern = "[a-zA-Z0-9 ]+", @title = "Caracteres inválidos" } }) 
                                    @Html.ValidationMessageFor(model => model.Nombre_categoria, "", new { @class = "text-danger" })
                                    </div>
                                </div>

    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">

            <button type="submit" class="btn btn-success">Enviar</button>
            @Html.ActionLink("Volver al listado", "CategoriasList", "Dashboard", new { }, new { @class = "btn btn-info" })




        </div>
    </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer content -->
        <footer>
            <div class="">
                <p class="pull-right">
                    <a>RGL</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

    </div>
<!-- /page content -->
